<div class= "edition-fields">
	<h1>{{adminToView.firstName}} {{adminToView.surname}}</h1>
	<h2>(Administrador)</h2>

	<ul class="list-items">
		<li>
			<span class="list-element">
				<span class="field-element">Email: </span> {{adminToView.email}}
			</span>
		</li>
	</ul>

	<div class="button-group">
		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="ull-button" (click)= "editItem($event, adminToView._id)">Editar</button>

		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="delete-button danger-button" (click)="deleteItem($event, adminToView._id)">Eliminar</button>
	</div>
</div>