<h1>Tarea</h1>
<ul class="list-items">
	<li>
		<span class="list-element">
			<span class="badge">Nombre</span> {{taskToView.name}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Profesor</span> {{teacherName}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Asignatura</span> {{subjectName}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Enunciado</span> {{taskToView.statement}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Adjunto</span> <a href="{{attachedUrl}}" target="_blank">{{taskToView.attached}}</a>
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Puntuación máxima</span> {{taskToView.maxScore}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Disponible desde</span> {{taskToView.startDate}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Disponible hasta</span> {{taskToView.endDate}}
		</span>
	</li>
	<li *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject">
		<span class="list-element">
			<span class="badge">Test de evaluación</span> <a href="{{evaluationTestUrl}}" target="_blank">{{taskToView.evaluationTest}}</a>
		</span>
	</li>
</ul>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="edit-button" (click)= "editItem($event, taskToView._id)">Editar</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="delete-button" (click)="deleteItem($event, taskToView._id)">Eliminar</button>

<button class="deliveryList-button" (click)= "showDeliveries($event, taskToView._id)">Entregas</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="deliveryList-button" (click)= "assignTask($event, taskToView._id)">Asignar a estudiantes</button>
