<button class="back-button" (click)="goBack($event)"><i> Volver</i></button>
<div class= "edition-fields">
	<h1>Tarea de {{subjectName}}</h1>
	<h2>{{taskToView.name}}</h2>

	<div class="button-group">
		<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="ull-button" (click)= "editItem($event, taskToView._id)">Editar</button>
		<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="ull-button" (click)= "assignTask($event, taskToView._id)">Asignar a estudiantes</button>
		<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="delete-button" (click)="deleteItem($event, taskToView._id)">Eliminar</button>
	</div>

	<h3>{{taskToView.statement}}</h3>
	<ul class="list-items">
		<li>
		<li *ngIf="taskToView.attached">
			<span class="list-element strong-field">
				<a href="{{attachedUrl}}" target="_blank">Descargar adjunto</a>
			</span>
		</li>
		<li *ngIf="(localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject) && evaluationTestUrl">
			<span class="list-element strong-field">
				<a href="{{evaluationTestUrl}}" target="_blank">Descargar test de evaluación</a>
			</span>
		</li>
		<li>
			<span class="list-element">
				<span class="field-element">Responsable:</span> {{teacherName}}
			</span>
		</li>
		<li>
			<span class="list-element">
				<span class="field-element">Puntuación máxima:</span> {{taskToView.maxScore}}
			</span>
		</li>
		<li *ngIf="taskToView.startDate">
			<span class="list-element">
				<span class="field-element">Disponible desde</span> {{taskToView.startDate}}
				<span *ngIf="taskToView.endDate" class="field-element"> hasta</span> {{taskToView.endDate}}
			</span>
		</li>
	</ul>

		<button class="ull-button" (click)= "showDeliveries($event, taskToView._id)">Entregas</button>

</div>