<button class="back-button" (click)="goBack($event)"><i> Volver</i></button>
<h1>Profesores</h1>
<button *ngIf="localStorageService.get('userRole') === 'admin'" class="add-button ull-button" (click)="addItem($event)">Nuevo profesor</button>
<ul class="list-items">
	<li *ngFor="let teacher of teacherList" class="row">
		<span class="list-element col-xs-8 col-md-6 col-lg-3">
			{{teacher.surname}}, {{teacher.firstName}}
		</span>
		<div class="col-xs-1 col-lg-1">
			<button class="view-button ull-button" (click)= "viewItem($event, teacher._id)">Ver</button>
		</div>
	</li>
</ul>
