<div class= "edition-fields">
	<h1>{{teacherToView.firstName}} {{teacherToView.surname}}</h1>
	<h2>(Profesor)</h2>

	<ul class="list-items">
		<li>
			<span class="list-element">
				<span class="field-element">Email:</span> {{teacherToView.email}}
			</span>
		</li>
	</ul>

	<div class="button-group">
		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="ull-button" (click)= "editItem($event, teacherToView._id)">Editar</button>

		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="danger-button" (click)="deleteItem($event, teacherToView._id)">Eliminar</button>
	</div>
</div>