<div class= "edition-fields">
	<h1>{{studentToView.firstName}} {{studentToView.surname}}</h1>
	<h2>(Estudiante)</h2>

	<ul class="list-items">
		<li>
			<span class="list-element">
				<span class="field-element">Email:</span> {{studentToView.email}}
			</span>
		</li>
	</ul>
	<div class="button-group">
		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="ull-button" (click)= "editItem($event, studentToView._id)">Editar</button>

		<button *ngIf="localStorageService.get('userRole') === 'admin'" class="danger-button" (click)="deleteItem($event, studentToView._id)">Eliminar</button>
	</div>
</div>