<h1>Asignatura</h1>
<ul class="list-items">
	<li>
		<span class="list-element">
			<span class="badge">Nombre</span> {{subjectToView.name}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Descripción</span> {{subjectToView.description}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Temario</span> <a href="{{temaryUrl}}" target="_blank">{{subjectToView.temary}}</a>
		</span>
	</li>
	<li *ngIf="studentScore">
		<span class="list-element">
			<span class="badge">Puntuación</span> {{studentScore}}
		</span>
	</li>
	<div *ngIf="teachersName">
		<span class="badge">Profesores</span>
		<li *ngFor="let teacherName of teachersName">
			<span>{{teacherName}}</span>
		</li>
	</div>
</ul>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="edit-button" (click)= "editItem($event, subjectToView._id)">Editar</button>

<button *ngIf="localStorageService.get('userRole') === 'admin'" class="delete-button" (click)="deleteItem($event, subjectToView._id)">Eliminar</button>

<button class="taskList-button" (click)= "showTasks($event, subjectToView._id)">Ver tareas</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="taskList-button" (click)= "showScores($event, subjectToView._id)">Ver puntuaciones</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="enrollStudents-button" (click)= "enrollStudents($event, subjectToView._id)">Matricular alumnos</button>
