<div class= "edition-fields">
	<h1>{{subjectToView.name}}</h1>	
	<h2> {{subjectToView.description}}</h2>

		<div class="button-group">
			<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="ull-button" (click)= "editItem($event, subjectToView._id)">Editar</button>

			<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="enrollStudents-button ull-button" (click)= "enrollStudents($event, subjectToView._id)">Matricular estudiantes</button>

			<button *ngIf="localStorageService.get('userRole') === 'admin'" class="delete-button" (click)="deleteItem($event, subjectToView._id)">Eliminar</button>
		</div>

	<ul class="list-items">
		<li *ngIf="subjectToView.temary">
			<span class="list-element strong-field">
				<a href="{{temaryUrl}}" target="_blank">Descargar temario</a>
			</span>
		</li>
		<li *ngIf="studentScore">
			<span class="list-element">
				<span class="field-element">Puntuación: </span> {{studentScore}}
			</span>
		</li>
		<div *ngIf="teachersName">
			<span class="field-element">Profesores</span>
			<li *ngFor="let teacherName of teachersName">
				<span>{{teacherName}}</span>
			</li>
		</div>
	</ul>

	<div class="button-group">
		<button class="taskList-button ull-button" (click)= "showTasks($event, subjectToView._id)">Tareas</button>
		<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="taskList-button ull-button" (click)= "showScores($event, subjectToView._id)">Puntuaciones</button>
	</div>
</div>