<h1>Entrega</h1>
<ul class="list-items">
	<li>
		<span class="list-element">
			<span class="badge">Tarea</span> {{taskName}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Estudiante</span> {{studentName}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Puntuación</span> {{deliveryToView.score}}
		</span>
	</li>
	<li>
		<span class="list-element">
			<span class="badge">Fichero</span> <a href="{{dataUrl}}" target="_blank">{{deliveryToView.data}}</a>
		</span>
	</li>
</ul>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsTeacherInSubject" class="edit-button" (click)= "editItemScore($event, deliveryToView._id)">Editar puntuación</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsDeliveryOwner" class="edit-button" (click)= "editItemData($event, deliveryToView._id)">Editar</button>

<button *ngIf="localStorageService.get('userRole') === 'admin' || userIsDeliveryOwner" class="delete-button" (click)="deleteItem($event, deliveryToView._id)">Eliminar</button>
