$white = #FFFFFF
$black = #000000
$light-black = #444
$ull-color = #7A3B7A
$green = #5CB85C
$hover-green = darken($green, 20%)
$light-gray = #eee;
$red = #cc0000
$hover-red = darken($red, 20%)
$gray = #999999
$hover-gray = darken($gray, 20%)
$yellow = #ffff00
$hover-yellow = darken($yellow, 20%)