app
	display flex
	height 100%
	flex-flow column

navbar
	height 50px
	width 100%

appLogged
	display flex
	flex-grow 1

.main-container
	display flex
	flex-flow row
	flex-grow 1
	background-color $light-gray

ng-sidebar-container
	width 200px
	padding 5px
	overflow auto

.view-container
	flex-grow 1
	overflow auto
	padding 5px
