app
	display flex
	height 100%
	flex-flow column

navbar
	height 50px
	width 100%

.main-container
	display flex
	flex-flow row
	flex-grow 1
	background-color $light-gray

ng-sidebar-container
	width 200px
	margin-top 10px

.view-container
	flex-grow 1
	overflow auto
