.view-container.home-container
	width 100%
	height calc(100% - 60px)
	display flex
	justify-content center
	align-items center
	background url(../../src/images/welcome-background.png) no-repeat center center fixed
	background-size cover;
	.welcome-view
		background-color $light-gray
		border-radius 50px
		padding 20px

