landing
	width 100%

.view-container.login-container
	display flex
	justify-content center
	align-items center
	background-image url(../../src/images/main-background.jpg)
	height calc(100% - 50px)
	.login
		background-color $light-gray
		h1
			font-size 26px
		.login-btn
			background-color $green
			color $white
			font-weight bold
			&:hover
				background-color $hover-green