/* Master Styles */
h1
	color $ull-color
	font-family Arial, Helvetica, sans-serif
	font-size 250%

h2, h3
	color $light-black
	font-family Arial, Helvetica, sans-serif
	font-weight lighter

body
	height 100%
	width 100%

body, input[text], button
	color #888
	font-family Cambria, Georgia

a
	cursor pointer
	cursor hand

button
	font-family Arial
	border none
	padding 5px 10px
	border-radius 4px
	cursor pointer
	cursor hand

button:hover

button:disabled
	color #aaa
	cursor auto

.ull-button
	background-color $green
	color $white
	font-weight bold
	&:hover
		background-color $hover-green
		color #aaa
		cursor pointer

.danger-button
.delete-button
	background-color $red
	color $white
	font-weight bold
	&:hover
		background-color $hover-red
		color #aaa
		cursor pointer

.cancel-button
	background-color $gray
	color $white
	font-weight bold
	&:hover
		background-color $hover-gray
		color #aaa
		cursor pointer

.edit-button
	background-color $yellow
	color $white
	font-weight bold
	&:hover
		background-color $hover-yellow
		color #aaa
		cursor pointer

.back-button
	i
		@extend .fa
		&:before
			@extend .fa-arrow-left:before

	background-color $gray
	color $white
	font-weight bold
	&:hover
		background-color $hover-gray
		color #aaa
		cursor pointer


.form-horizontal .form-group
	margin-right 0
	margin-left 0

.row
	margin-right 0
    margin-left 0
*
	font-family Arial, Helvetica, sans-serif

