.navbar
	border 0
	margin-bottom 0
	&.navbar-ull
		background-color $ull-color
		height 50px
		border-radius 0
		a
			border-radius 0
			margin 0
			padding 15px
			color white
		.container-fluid
			display flex
			.navbar-header
				flex 1
				margin 0
				a.navbar-brand
					width 130px
					height 50px
					margin 0 !important
					padding 0
					background url(../../src/images/logo-ull.png) 0 12px no-repeat
				&:hover
					background-color $ull-color !important
			.navbar-user
				flex 3
				display flex
				align-items center
				justify-content flex-end
				padding-right 20px
				color white
			.navbar-right
				align-self flex-end
				a
					background-color $green
					 font-size 16px
					&:hover
						background-color $hover-green !important
						color $white
					i
					    padding-left 5px

ng-sidebar-container
	height calc(100% - 60px)
	background-color $light-gray
	width 200px
	min-width 200px

	aside.ng-sidebar
		width 190px
		min-width 190px
		ul

			background-color $light-gray
			margin 0
			list-style-type none
			padding-left 17px

			li
				padding 7px 0
				a
					color black
					font-weight bold
					font-size 16px
				&:hover
					a
						text-decoration none
						color $ull-color
				&:focus
					a
						text-decoration none					
