ng-sidebar-container
	height calc(100% - 60px)
	background-color $light-gray
	width 200px
	min-width 200px

	aside.ng-sidebar
		width 190px
		min-width 190px
		ul

			background-color $light-gray
			margin 0
			list-style-type none
			padding-left 17px

			li
				padding 7px 0
				a
					color black
					font-weight bold
					font-size 16px
				&:hover
				&:active
					a
						text-decoration none
						color $ull-color
				&:focus
					a
						text-decoration none
